<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div id="root">
        <h2 class="login-title">Signup</h2>
        <form class="login-form" action="{{url_for('register')}}" method="POST">
            <label class="login-label">Role:</label>
            <input class="login-input" type="text" name="role" />
            <label class="login-label">Email:</label>
            <input class="login-input" type="text" name="email" />
            <br />
            <label class="login-label">Password:</label>
            <input class="login-input" type="password" name="password" />
            <br />
            <label class="login-label">Confirm Password:</label>
            <input class="login-input" type="password"name="confirm" />
            <br />
            <button class="login-submit-button" type="submit">Signup</button>
        </form>
        <p class="signup-message">
            Already have an account? <a href="login.html" id="login-link">Login</a>
        </p>
    </div>
    <script src="./signup.js"></script>
</body>
</html>
